@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}
.custom-text {
  background: -webkit-linear-gradient(#2744c8, #8441f1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom-shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.custom-shadow2 {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.hero {
  background-image: url("./assets/Rectangle2.png");
  background-position: center;
}

.btn-grad {
  background-image: linear-gradient(to right, #2744c8 10%, #8441f1 90%);
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.bg-img {
  background-image: url("./assets/about_img.png");
  background-size: 120%;
  /* background-blend-mode: ; */
  background-position-y: center;
  background-repeat: no-repeat;
  background-color: #733735;
}

.wasiwasiwasi {
  background-image: url("https://plus.unsplash.com/premium_photo-1728487571427-71cdb56737b4?q=80&w=1373&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
